body{
    width: auto;
    height: 768px;
    margin: auto;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Verdana, sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
header div a{
    color: rgb(60, 184,120);
}
header div a:hover{
    text-decoration: underline;
}
header{
    background-color: rgba(0,0,0,0.41);
    width: auto;
    height: 54px;
    position: relative;
}
header p{
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 81px;
    font-size: 16px;
    font-weight: 700;
    color: white;
}
header p a:hover{
    color: rgb(60, 184,120);
}
.menu{
    position: relative;
    border-right: 1px solid rgba(255,255,255,0.5);
}
.menu li{
    list-style: none;
    position: absolute;
    top: 20px;
    right: 500px;
}
.menu li, .menu a{
    display: block;
}
#calc{
    width: 20px;
    height: 20px;
    background-image: url(../img/ic_calc-wt.png);
}   
#calc-green{
    width: 20px;
    height: 20px;
    background: url(../img/ic_calc-gr.png);
    z-index: -1;  
} 
#calc:hover{
    z-index: -2;
}
#forum{
    width: 28px;
    right: 440px;
    height: 20px;
    background-image: url(../img/ic_forum-wt.png);
}   
#forum-green{
    width: 28px;
    right: 440px;
    height: 20px;
    background: url(../img/ic_forum-gr.png);
    z-index: -1;  
} 
#forum:hover{
    z-index: -2;
}
#compas{
    width: 20px;
    right: 392px;
    height: 20px;
    background-image: url(../img/ic_journey-wt.png);
}   
#compas-green{
    width: 20px;
    height: 20px;
    right: 392px;
    background: url(../img/ic_journey-gr.png);
    z-index: -1;  
} 
#compas:hover{
    z-index: -2;
}
header div{
    position: absolute;
    top: 22px;
    right: 120px;
    padding-left: 25px;
    border-left: 1px solid rgba(255,255,255,0.5);
    font-size: 14px;
    color: white;
    
}
.all{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    width: 444px;
    /*height: 584px;*/
    position: relative;
    background-color: rgb(255,255,255);
    border-radius: 8px;
}
.shape{
    position: absolute;
    top: 29px;
    left: 0px;
    width: 20px;
    height: 20px;
    background-color: rgb(60,184,120);
}
.reg{
    width: 330px;
    height: 550px;
    margin: 26px auto 0 ;
}
.Sign{
    float: left;
    font-family: Verdana;
    color:  #434343;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
}
.Log a{
    font-family: Verdana;
    color:  #3cb878;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    float: right;
}
.Log a:hover{
    text-decoration: underline;
}
.clear{
    clear: both;
}
.fb_g{
    margin: 0 auto;
}
.fb_g a{
    width: 157px;
    height: 46px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    padding-top: 14px;
    margin-top: 15px;
    margin-bottom: 28px;
    border-radius: 3px;
    font-size: 16px;
    color: rgba(255,255,255,0.7);
}
.fb{
    float: left;
    background-image: url(../img/facebook1.png);
    background-repeat: no-repeat;
    background-position: 15px 10px;
    background-color: #305db8;
    left: 10px;
    padding-left: 18px;
}
.g{
    float: right;
    background-image: url(../img/G+.png);
    background-repeat: no-repeat;
    background-position: 12px 15px;
    background-color: #df4a32;
    padding-left: 30px;
}
.fb:hover{
    background-color: #264b96;
}
.g:hover{
     background-color: #c3412c;
}
.fb_g span{
    padding-left: 18px;
    border-left: 1px solid rgba(255,255,255,0.3);
}
.line{
    text-align: center;
}
.field{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 46px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    border-radius: 3px;
    border: 1px solid rgb(236, 236, 236);
    font-family: Verdana;
    color: #434343;
    font-size: 14px;
    outline: none;
}
.field:focus{
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.21);
}
label{
    display: block;
    position: relative;
    margin-top: 20px;
    padding-left: 35px;
    padding-top: 6px;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
}
label input{
    opacity: 0;
    position: absolute;
    cursor: pointer;
}
.check{
    position: absolute;
    top: 1px;
    left: 0px;
    height: 19px;
    width: 19px;
    background-color: white;
    border: 1.5px solid #eee;
    border-radius: 1px;
}
label a{
    color: #3cb878;
}
label a:hover{
    text-decoration: underline;
}
.check:after{
    content: "";
    position: absolute;
    display: none;
}
label input:checked ~ .check:after{
    display: block;
}
label .check:after{
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #3cb878;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.btn{
    display: block;
    width: 100%;
    background-color: #3cb878;
    border-radius: 2px;
    margin-top: 24px;
    text-align: center;
    padding: 16px 0;
}
.btn:hover{
    background-color: #329a65;
}